<div class="content-container">
  <div class="presentation create">
    <% @presentations.reverse_order.each do |p| %>
        <div class="presentation">
            <h2> <%= p.title %> </h2>
            <%= link_to "View Presentation", "/presentation/#{p.id}" %>
        </div>
    <% end %>
  </div>
</div>