<div class="links-container">
  <span class="link-container left vertical-center">
    <%= link_to "Create Presentation", "presentation/new" %>
  </span>
  <span class="link-container right vertical-center">
    <%= link_to "View Presentation", "presentation" %>
  </span>
</div>